[aws]
sso_profile = sso_profile
sso_start_url = https://stlfrb.awsapps.com/start
sso_region = us-east-1
default_region = us-east-1
output_format = json

[paths]
aws_folder_name = .aws
config_file = config
credentials_file = credentials
sso_cache_folder = sso/cache